html{
    font-size: 62.5%;
}
:root{
    --primary_nav_color: #005cbf;
    --secondary_nav_color:white;
    --border:white;
    --background:#16181A;
    --punteado:dashed;
    --entero:solid;
    --elegant:'Courier New', Courier, monospace;
    --funny:cursive;
    --normal:Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
  
    background-color: var(--background);
    margin: 0 10%;
}
#header{
}
.header_title {
    font-family:var(--elegant);
    text-align: center;
    font-size: 3.5rem;
    color: var(--secondary_nav_color);
}
.header_img{
    color: var(--primary_nav_color);
}
.navegator{
    display: flex;
    flex-wrap: wrap;
    
}
.nav_options{
    color: var(--primary_nav_color);
    border: var(--punteado) 1px var(--border);
    border-radius:2rem;
    font-family:var(--funny);
    text-align: center;
    padding: 1rem ;
    font-size: 2rem;
    text-decoration: none;
    margin: 0.5rem 0rem;
}
#n_1,#n_2,#n_3,#n_4{
    width: 50%;
    height: auto;
}
#n_5{
    width: 100%;
    height: auto;
}
.navegator .nav_options:hover{
    color:white
}
.navegator .nav_options:active{
    color:red
}

#main {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 2fr ;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 1rem;
    height: 100%
}
.main_information{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    border:var(--entero) var(--secondary_nav_color) ;
    border-radius: 2rem;
    max-height: 108rem;
}
.main_information article{
    font-family:var(--normal);
    font-size: 1rem;
    color: var(--secondary_nav_color);
}
.main_information_options{
    color: var(--secondary_nav_color);
    font-family: var(--normal);
    font-size: 1rem;
    text-align: center;
    padding: auto auto;
}
.main_information h1{
    font-family: var(--normal);
    font-size: 2rem;
    text-align: center;
    color: var(--secondary_nav_color);
    padding: 0% 2%;
    padding-top: 5%;
    width: 100%;
}
#form{
    padding: 0% 10%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--secondary_nav_color);
}
.form label input{
    width: 13rem;
    margin: 0 auto;
}
.flex_1, .flex_2,.flex_3,.flex_4,.flex_5,.flex_6,.flex_7,.flex_8{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
} 
#send{
    height: 2rem;
    width: 50%;
    margin: auto auto;
    margin-bottom:1rem ;
}
#main_aside{
    border-style: var(--punteado);
    border-radius: 20px;
    padding:1rem ;
    border-color: var(--border);
}
.main_aside_title{
    color: var(--primary_nav_color);
    font-family: var(--elegant);
    font-size: 1.5rem;
}
.main_aside_text{
    color: var(--secondary_nav_color);
    font-family: var(--normal);
    font-size: 1.2rem;
}
.container{
    position: relative;
    min-width: 12rem;
    min-height: 20rem;
    margin:0% auto;
    margin-bottom:1rem;
    background-color: #333;
    border-radius:0.8rem ;
    box-shadow: 2.5rem 2.5rem 7.5rem rgba(0,0,0,0.25),
    1rem 1rem 7rem rgba(0,0,0,0.25),
    inset -0.5rem -0.5rem 1.5rem rgba(0,0,0,0.5),
    inset 0.5rem 0.5rem 1.5rem rgba(0,0,0,0.5);
}
.container span{
    color: var(--secondary_nav_color);
    place-items: center;
    position: relative;
    display: grid;
    margin: 2rem;
    height: 2rem;
    margin: 0.8rem;
    font-size: 1.5rem;
    background:linear-gradient(180deg,#2f2f2f,#3f3f3f3f);
    box-shadow:
    inset -0.8rem 0 0.8rem rgba(0,0,0,0.15),
    inset 0 -0.8rem 0.8rem rgba(0,0,0,0.25),
    0 0 0 0.2rem rgba(0,0,0,0.75),
    1rem 2rem 2.5rem rgba(0,0,0,0.4);
    user-select: none;
    cursor: pointer;
    font-weight: 1400;
}
.container span :hover{
    color: red;
}
.container span::before{
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0.4rem;
    bottom: 1.4rem;
    right: 1.2rem;
    background: linear-gradient(90deg,#2d2d2d,#4d4d4d4d);
    border-radius: 1rem;
}
.calculator{
    position: relative;
    display: grid;
}
.calculator .value{
    position: relative;
    grid-column:span 4;
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #A8AD7E;
    border:none;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.75);
    text-align: right;
    font-size: 1.5rem;
}
.calculator .plus{
    grid-row: span 2;
    height: 6.2rem;
}
.calculator .clear{
    grid-column: span 2;
    background-color: red;
}
.calculator .equal{
    background-color: blue;
}
#footer{
    display: inline-block;
    width: 100%;
    height: 100%; 
}
.footer_logos{
    display: grid;
    text-align: center;
    margin: 0rem 30%;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer_logo{
    border-style:solid ;
    border-width:0.2rem ;
    border-radius: 5rem;       
    color: var(--secondary_nav_color);
    align-items: center;
}
.footer_logos img{
    width: auto;
    height: auto;
}
.footer_rights{
    text-align: center;
    font-family:var(--funny);
    color: var(--secondary_nav_color);
    font-size: 1.5rem;
}
#canvas {
    width: 100%;
    height: 50%;
    border-radius: 0.5rem;
    border:var(--border) var(--entero) 0.2rem ;
    
}
