html{
    font-size: 62.5%;
}
:root{
    --primary_nav_color: #005cbf;
    --secondary_nav_color:white;
    --border:white;
    --background:#16181A;
    --punteado:dashed;
    --entero:solid;
    --elegant:'Courier New', Courier, monospace;
    --funny:cursive;
    --normal:Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
  
    background-color: var(--background);
    margin: 0 10%;
}
#header{
}
.header_title {
    font-family:var(--elegant);
    text-align: center;
    font-size: 3.5rem;
    color: var(--secondary_nav_color);
}
.header_img{
    color: var(--primary_nav_color);
}
.navegator{
    display: flex;
    flex-wrap: wrap;
    
}
.nav_options{
    color: var(--primary_nav_color);
    border: var(--punteado) 1px var(--border);
    border-radius:2rem;
    font-family:var(--funny);
    text-align: center;
    padding: 1rem ;
    font-size: 2rem;
    text-decoration: none;
    margin: 0.5rem 0rem;
}
#n_1,#n_2,#n_3,#n_4{
    width: 50%;
    height: auto;
}
#n_5{
    width: 100%;
    height: auto;
}
.navegator .nav_options:hover{
    color:white
}
.navegator .nav_options:active{
    color:red
}

#main {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 2fr ;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 1rem;
    height: 100%
}
.main_information{
    display: block;
    width: 100%;
    border:var(--entero) var(--secondary_nav_color) ;
    border-radius: 2rem;
    padding: 5% 2%;
    height: 50rem;
}
.main_information article{
    font-family:var(--normal);
    font-size: 1rem;
    color: var(--secondary_nav_color);
}
.main_information_options{

    color: var(--secondary_nav_color);
    font-family: var(--normal);
    font-size: 1rem;
    
    text-align: center;
    padding: auto auto;
}
.main_information h1{
    font-family: var(--normal);
    font-size: 2rem;
    color: var(--secondary_nav_color);
}
#form{
    
    padding-left:10%;
    padding-right: 10%;
    padding-top: 10%;
}
.form{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--secondary_nav_color);
}
.form label input{
    width: 15rem;
    margin: 0 auto;
}
.flex_1, .flex_2,.flex_3,.flex_4,.flex_5,.flex_6,.flex_7,.flex_8{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
   
} 
#main_aside{
    border-style: var(--punteado);
    border-radius: 20px;
    padding:1rem ;
    border-color: var(--border);
}
.main_aside_title{
    color: var(--primary_nav_color);
    font-family: var(--elegant);
    font-size: 1.5rem;
}
.main_aside_text{
    color: var(--secondary_nav_color);
    font-family: var(--normal);
    font-size: 1.2rem;
}
#footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}
.footer_logos{
    display: grid;
    text-align: center;
    margin: 0rem 30%;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer_logo{
    border-style:solid ;
    border-width:0.2rem ;
    border-radius: 5rem;       
    color: var(--secondary_nav_color);
    align-items: center;
}
.footer_logos img{
    width: auto;
    height: auto;
}
.footer_rights{
    text-align: center;
    font-family:var(--funny);
    color: var(--secondary_nav_color);
    font-size: 1.5rem;
}
#canvas {
    width: 100%;
    height: 50%;
    border-radius: 0.5rem;
    border:var(--border) var(--entero) 0.2rem ;
    
}
