:root{
    --primary_nav_color: #005cbf;
    --secondary_nav_color:white;
    --border:white;
    --background:#16181A;
    --punteado:dashed;
    --entero:solid;
    --elegant:'Courier New', Courier, monospace;
    --funny:cursive;
    --normal:Arial, Helvetica, sans-serif;
}
.header_title{
    font-size: 4rem;
}
.nav_options{
    font-size: 2rem;
}
#n_1,#n_2,#n_3{
    width: 33.3%;
}
#n_4,#n_5{
    width: 50%;
}

.main_information article{
    color: var(--secondary_nav_color);
    font-size: 1.5rem;
}
.main_aside_title{
    font-size: 2rem;
}
.flex_1{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 1;
} 
.flex_2{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 2;
}
.flex_3{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 3;
}
.flex_4{
    padding-bottom: 10%;
    width: 30%;
    font-size: 1rem;
    order: 5;
}
.flex_5{
    padding-bottom: 10%;
    width: 60%;
    font-size: 1rem;
    order: 4;
}
.flex_6{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 6;
}
.flex_7{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 7;
}
.flex_8{
    padding-bottom: 10%;
    width: 100%;
    font-size: 1rem;
    order: 8;
}
.main_aside_text{
    font-size: 1.5rem;
}
.footer_rights{
    font-size: 2rem;
}
